/* Esto es un comentario */
/* selector {
  propiedad : valor;
} */



/* Selector de etiqueta */
div {
    background-color: red;
    color: white;
  }
  
  /* Selector de clase */
  .black {
    background-color: black;
  }
  
  .subrayado {
    text-decoration: underline;
  }
  
  /* Selector de id */
  #p1 {
    color: black;
     background-color: yellow;
  }
  
  .primerDiv p {
    font-size: 32px;
    color: #111111;
  }
  
  p {
    color: darkblue;
  }
  
  .primerDiv > p {
    font-size: 64px;
    color: #111111;
  }
  
  
  
  